@media (min-width: 1000px) {
    * {
        box-sizing: border-box;
    }
    body {
        margin: 5% 8%;
    }
    main {
        display: flex;
    }
   
}

/* mobile size  */
@media (min-width: 348px) {
    * {
        box-sizing: border-box;
    }
    
}

/* tablet size  */

@media (min-width: 500px) and (max-width: 1000px) {
    * {
        box-sizing: border-box;
    }
    body {
        margin: 5% 8%;
    }
    main {
        display: flex;
    }
}