body{
    width: 960px;
    height: 700px;
    margin: auto;
    position: relative;
    border-style: solid;
}

h1{
    background-color: gray;
    height: 100px;
    width: 960px;
    text-align: center;

}

#b {
    background-color: lightgray;
    height: 600px;
    width: 200px;
    text-align: center;
    float: left;
}

#c{
    background-color: lightslategray;
    height:200px ;
    width: 380px;
    position: relative;
    text-align: center;
    display: inline-block;

}
#d{
    background-color: darkgray;
    height:200px ;
    width: 380px;
    /* position: relative; */
    text-align: center;
    display: inline-block;
    position: absolute;

}


section{
    display: inline-block;
    height: 250px;
    width: 760px;
    position: relative;
    text-align: center;
    top: 0%;
}

#e{
    background-color: lightblue;
    height: 250px;
    width: 190px;
    text-align: center;
    /* position: absolute; */


}



#f{
    background-color: teal;
    height: 250px;
    width: 190px;
    text-align: center;
    position: absolute;
    left: 190px;
    top: 0%;

    
}

#g{
    background-color: lightseagreen;
    height: 250px;
    width: 190px;
    text-align: center;
    position: absolute;
    left: 380px;
    top: 0%;

    
}

#h{
    background-color: lightsteelblue;
    height: 250px;
    width: 190px;
    text-align: center;
    position: absolute;
    left: 570px;
    top: 0%;

}

#i{
    background-color: darkcyan;
    height: 150px;
    width: 760px;
    /* position: absolute; */
    left: 200px;
    top: 0%;
    text-align: center;
    position: relative;
}






@media (max-width:480px){
    body{
        width: 480px;
        height: 767px;
        margin: auto;
        position: relative;
        border-style: solid;
    }
    
    h1{
        background-color: gray;
        height: 75px;
        width: 480px;
        text-align: center;
    
    }
    
    #b {
        background-color: lightgray;
        height: 150px;
        width: 480x;
        text-align: center;
        /* float: left; */
    }
    
    #c{
        background-color: lightslategray;
        height:125px ;
        width: 480px;
        position: relative;
        text-align: center;
        /* display: inline-block; */
    
    }
    #d{
        background-color: darkgray;
        height:125px ;
        width: 480px;
        /* position: relative; */
        text-align: center;
        /* display: inline-block; */
        position: absolute;
    
    }
    
    
    section{
        display: inline-block;
        height: 500px;
        width: 480px;
        position: relative;
        text-align: center;
        top: 0%;
    }
    
    #e{
        background-color: lightblue;
        height: 250px;
        width: 240px;
        text-align: center;
        /* position: absolute; */
    
    
    }
    
    
    
    #f{
        background-color: teal;
        height: 250px;
        width: 240px;
        text-align: center;
        position: absolute;
        left: 240px;
        top: 0%;
    
        
    }
    
    #g{
        background-color: lightseagreen;
        height: 250px;
        width: 240px;
        text-align: center;
        position: absolute;
        /* left: 380px; */
        /* top: 0%; */
    
        
    }
    
    #h{
        background-color: lightsteelblue;
        height: 250px;
        width: 240px;
        text-align: center;
        position: absolute;
        left: 240px;
        top: 0%;
    
    }
    
    #i{
        background-color: darkcyan;
        height: px;
        width: 480px;
        /* position: absolute; */
        left: 200px;
        top: 0%;
        text-align: center;
        position: relative;
    }
    
    
    
    
    
    

    
    
    

} 


